.todo-DayTodo-title {
    font-size: 18px; /* Title font size */
    padding-top: 5px;
    border-top: 1px solid #ddd;
}

.todo-DayTodo-date {
    font-size: 14px; /* Date font size */
    color: gray; /* Date color */
    padding: 2px 0 3px 0;
}

.todo-DayTodo-description {
    font-size: 15px; /* Description font size */
    border-bottom: 1px solid #ddd;
}

.todo-DayTodosItem li {
    list-style-type: none; /* Remove bullet points */
    padding-left: 10px;
    background-color: #ffffff;
}

.todo-list-container {
    max-height: 500px;
    margin: 8px;
    overflow-y: scroll;
    padding-right: 10px;
}
.todo-daytodos-back-item{
    cursor: pointer;
}
.todo-daytodos-back-item:hover {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15); /* 호버 시 음영 추가 */
}
.ellipsis-icon{
    background-color: #ffffff;
    
}