

.contents {
    font-family: sans-serif;
}
/* Profile Section */
.profile_img {
    width: 200px;
    height: 200px;
    background-color: #e9ecef;
    border-radius: 50%;
}

.profile-section {
    margin-bottom: 2rem;
}

.profile-default-button{
    width: 200px;
    height: 40px;
}

/* Form Fields */
.field-container {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.field-input {
    width: 150px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

.field-input.email {
    width: 200px;
}

.field-input.name {
    margin-top: 10px;
    width: 200px;
}

.field-input.message {
    width: 300px;
}
.field-input.phone {
    width: 125px;
}

/* Date Selector */
.date-selector {
    display: flex;
    width: 250px;
    margin-right: 0.5rem;
}

.date-selector select {
    margin-right: 4px;
}

/* .date-selector select:last-child {
    margin-right: 0;
}

.year-select {
    width: 100px;
}

.month-select,
.day-select {
    width: 70px;
}
 */
/* Sections */
.section-title {
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 0.5rem;
    margin-bottom: 1.5rem;
}

.section-content {
    padding: 1rem;
}

/* Settings */
.settings-item {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    border-bottom: 1px solid #dee2e6;
}

.settings-item:last-child {
    border-bottom: none;
}

/* Buttons */
.button-group {
    display: flex;
    align-items: center;
}

.button-group .btn {
    margin-right: 0.5rem;
}

.button-group .btn:last-child {
    margin-right: 0;
}

.default-item{
    margin-top: 3px;
    margin-bottom: 3px;
    min-width: 50px;
    min-height: 28px;
    margin: 5px;

}