.center{
    display: flex;
}
.contents{
    width: 100%;
    padding: 10px;
    margin-left: 70px;
    margin-top: 75px;
}


.feedback{
    width: 100%;
    border-color: #2C2C2C;
    border: 1px solid #6c757d;
    
}
.form-control:focus {
    outline: none !important;
    border-color: #aaa !important;
    box-shadow: 0 0 0 1px #aaa !important;
    -webkit-box-shadow: 0 0 0 1px #aaa !important;
}